@import "@fortawesome/fontawesome-free/css/all.min.css";
@font-face {
    font-family: 'Geist Mono';
    src: url("../public/fonts/GeistMono-Regular.ttf");
}

@import "tailwindcss";

@theme {
    --font-geist-mono: 'Geist Mono', sans-serif;
}